@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
body {
  background-color: var(--Light-gray);
  display: grid;
  place-content: center;
  place-items: center;
  min-height: 100vh;
}
.qr-container{
  width: 320px;
  height: 520px;
  background-color: var(--White);
  border-radius: 1rem;
}
.qr-code-img {
  text-align: center;
}
.qr-code-img img {
  width: 100%;
  padding: 1rem;
  border-radius: 1.5125rem;
}
h2{
  text-align: center;
  color: var(--Dark-blue);
  padding: 0rem 2rem;
}
p{
  text-align: center;
  color: var(--Grayish-blue);
  padding: 1rem 2.2rem;

}

@media screen and (max-width: 375px) {

  .qr-container {
    margin-top: 2rem;
    width: 93%;
  }
}
